.screen {
  @apply bg-gray-dark-5;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.loader {
  position: absolute;
  top: 50%;
  margin-left: -60px;
  left: 50%;
  animation: speeder 0.4s linear infinite;
  z-index: 9999;

  > span {
    height: 5px;
    width: 35px;
    background: linear-gradient(to right, #7000ff, #8b31ff);
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
  }
}

.loader > span > span:nth-child(1),
.loader > span > span:nth-child(2),
.loader > span > span:nth-child(3),
.loader > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: linear-gradient(to right, #7000ff, #8b31ff);
  position: absolute;
  animation: fazer1 0.2s linear infinite;
}

.loader > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.loader > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.loader > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

.base {
  span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #8b31ff;
    border-bottom: 6px solid transparent;

    &:before {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: #8b31ff;
      position: absolute;
      right: -110px;
      top: -16px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-right: 55px solid #8b31ff;
      border-bottom: 16px solid transparent;
      top: -16px;
      right: -98px;
    }
  }
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: linear-gradient(to right, #7000ff, #8b31ff);
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;

  &:after {
    content: "";
    height: 12px;
    width: 12px;
    background: linear-gradient(to right, #7000ff, #8b31ff);
    right: 3px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
  }
}

.progress {
  width: 9rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  height: 0.3rem;
  position: absolute;
  top: 63%;
  left: 50%;
  margin-left: -4rem;
  background-color: #1e1b20;
  overflow: hidden;
  animation-name: fadeAppear;
  animation-duration: 1s;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    border-radius: 0.5rem;
    height: 0.3rem;
    width: 100%;
    left: -100%;
    background-image: linear-gradient(to right, #8b31ff, #7000ff);
    animation-name: load;
    animation-duration: 1.7s; //1.7s
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes fadeAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
