.top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;

  .background {
    position: absolute;
    bottom: 0;
    background: url("/footer/background.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }

  .background__one {
    background: url("/footer/volkswagen.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: first 22s linear infinite;
    animation: first 22s linear infinite;
  }

  .background__two {
    background: url("/footer/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: first 30s linear infinite;
    animation: first 30s linear infinite;
  }
}

@keyframes first {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
