.projectTile {
  height: 22rem;
  width: 38rem;
  background: black;
  transform-style: preserve-3d;
  transform: perspective(1000px);

  @media (min-width: 768px) {
    height: 26rem;
  }

  img {
    object-fit: cover;
  }
}

.projectImage {
  @apply absolute top-0 rounded-xl shadow-xl;

  width: 17rem !important;
  transform: rotate(-22.5deg);
  height: unset !important;
  min-width: unset !important;
  max-height: unset !important;
  object-fit: contain !important;
  left: unset !important;
  right: 2rem !important;
  bottom: unset !important;
  max-width: 17rem !important;
  clip-path: inset(0);
}

.techIcons {
  transform: rotate(-22.5deg) translateZ(3rem);
}
