@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --purple: 266 100% 60%;
    --red: 0 100% 41%;
    --green: 150 100% 34%;
    --indigo-light: 266 100% 67%;
    --indigo-dark: 266 100% 50%;
    --gray-light-1: 0 0% 94%;
    --gray-light-2: 0 0% 86%;
    --gray-light-3: 0 0% 67%;
    --gray-light-4: 0 0% 54%;
    --gray-dark-1: 270 2% 20%;
    --gray-dark-2: 280 4% 14%;
    --gray-dark-3: 276 8% 12%;
    // --gray-dark-4: 266 13% 10%;
    // --gray-dark-5: 270 22% 7%;
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    cursor: none;
  }

  html {
    @media (min-width: 320px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 15px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
    @media (min-width: 1536px) {
      font-size: 18px;
    }
    @media (min-width: 1800px) {
      font-size: 20px;
    }
    @media (min-width: 2000px) {
      font-size: 22px;
    }
  }
}

// ::-webkit-scrollbar {
//   width: 0.4rem;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(112, 0, 255, 0.75);
//   opacity: 0.5;
//   border-radius: 1rem;
//   transition: all 0.2s;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: hsl(var(--indigo-dark));
//   opacity: 1;
// }

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none; // Firefox
}

// ::-moz-selection {
//   background-color: hsl(var(--purple));
//   color: #fff;
// }

// ::selection {
//   background-color: hsl(var(--purple));
//   color: #fff;
// }

.section-container {
  @apply mx-auto flex w-full items-center px-4 2xl:container md:px-12 xl:px-20;
}

.text-gradient {
  @apply bg-gradient-to-r from-indigo-light to-indigo-dark bg-clip-text text-transparent;
}

a,
input[type="checkbox"] {
  cursor: none !important;
}

.outer-menu {
  .checkbox-toggle {
    z-index: 2;

    &:checked {
      + {
        .hamburger {
          > div {
            transform: rotate(135deg);
            &:before {
              top: 0;
              transform: rotate(90deg);
            }
            &:after {
              top: 0;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
      }
      ~ {
        .menu {
          pointer-events: auto;
          visibility: visible !important;
          > div {
            transform: scale(1);
            transition-duration: 0.75s;
            > div {
              opacity: 1;
              transition: opacity 0.4s ease 0.4s;
            }
          }
        }
      }
      &:hover + .hamburger > div {
        transform: rotate(225deg);
      }
      // &:hover {
      //   + {
      //     .hamburger {
      //       > div {
      //         transform: rotate(225deg);
      //       }
      //     }
      //   }
      // }
    }
  }

  .hamburger {
    z-index: 1;
    backface-visibility: hidden;

    > div {
      height: 0.125rem;
      transition: all 0.4s ease;
      -webkit-box-pack: center;

      &:before,
      &:after {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        top: -0.5rem;
        height: 0.125rem;
        background: inherit;
        transition: all 0.4s ease;
      }
      &:before {
        top: -0.5rem;
      }
      &:after {
        top: 0.5rem;
      }
    }
  }

  .soundBars {
    height: 24px;
    width: 24px;
    border-radius: 100%;

    span {
      background: linear-gradient(
        to right,
        hsl(var(--indigo-light)),
        hsl(var(--indigo-dark))
      );
      margin: auto 1px 0;
      height: 100%;
      width: 2px;
      transform: scaleY(0.99);
      transform-origin: bottom;
      box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2);
      transition: all 0.4s ease-in-out;

      // Different height bars
      &:nth-child(1) {
        transform: scaleY(0.8);
      }
      &:nth-child(2) {
        transform: scaleY(0.6);
      }
      &:nth-child(4) {
        transform: scaleY(0.4);
      }
    }

    &.play > span {
      animation: sound-bars-animation 2s infinite alternate-reverse;

      // Scatter animations
      &:nth-child(1) {
        animation-delay: 0.4s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.8s;
      }
    }

    &:before {
      content: "";
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      background: #fff;
      border-radius: 100%;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &:before {
        width: calc(15% + 24px);
        height: calc(50% + 24px);
        opacity: 1;
      }

      > span {
        background: #000;
      }
    }
  }

  .menu {
    backface-visibility: hidden;
    outline: 0.0625rem solid transparent;
    > div {
      width: 240vw;
      height: 240vw;
      transform: scale(0);
      will-change: transform;
      border-radius: 50%;
      transition: all 0.4s ease;
      backface-visibility: hidden;
      background: rgba(0, 0, 0, 0.8);

      > div {
        max-width: 90vw;
        transition: opacity 0.4s ease;
        max-height: 100vh;
        overflow-y: auto;
      }

      ul {
        li {
          a {
            background: linear-gradient(
              90deg,
              #ffffff 0%,
              #ffffff 50%,
              #8b31ff 51%,
              #7000ff 100%
            );
            background-size: 200% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
              background-position: 100% 0;
            }
          }
        }
      }
    }
  }
}

@keyframes sound-bars-animation {
  50% {
    opacity: 0.2;
    transform: scaleY(0.2);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
